body {
        background-color: white;
        color: black;
        font-family: Helvetica;
        text-align: center;
    }
    
a {
        color: black;

    }
    
a:visited {
        color: black;
    }