/* This is a comment tag, you can ignore it. */
/* Use this document to change the colors and font of ALL your pages */

body {
        background-color: white;
        /* this is the background color of your pages, change the 'white' to any other colour. You can also use hex values (e.g. 000000) */
        color: black;
        /* this is the font colour */
        font-family: Helvetica;
        /* this is the font type, you can change it to anything (e.g. Arial) */
        text-align: center;
        /* this aligns all text in the center of your page, you can change it to left or right */
        width: 80%;
        justify-content: center;
        /* the above two make the width of the entire page 80% of the browser window and centers it */
    }
    
a {
        color: black;
        /* this is the color of UNVISITED links */
    }
    
a:visited {
        color: black;
        /* this is the color of VISITED links */
    }



/* If you want to change the color/font/etc for one specific page:
        In the <head> tag for that page, delete the line: <link rel="stylesheet" href="style.css">
        In its place, enter:
                                <style>

                                </style>
        In between the <style> tag, copy and paste the text from body { to the last }
        Change the settings to whatever you'd like. For example:
                                <style>
                                    body {
                                        background-color: black;
                                        color: white;
                                    }
                                </style>
    If you need help, ask me!
*/        
