 body {
	margin:0;
    background-color: white;
    color: #222;
    font-family: Helvetica;
	text-align: center;
} 

a {
    color: #222;
}

a:visited {
    color: #222;
}


table.header {
    width:100%;
    margin-right:0px;
    margin-left:auto;
}

table.center {
    width: 80%;
    padding-left:50px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
    /*display:flex;*/
	height:80vh;
    align-items:center;
}

table.inner {
    margin-left:auto;
    margin-right:auto;
    align-items:center;
}

table.footer {
    width:100%;
    margin-bottom: 0px;
    padding-left:20px;
    text-align:left;
}




.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: rgba(245, 245, 245, 0.700);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #999;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

    main {
        display: flex;
        width:70%;
        
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left:auto;
        margin-right:auto;
        align-items:center; 
      }
    
      div.comic {
        flex-basis: 100%;
        height: 100%;
        margin-bottom: 0.5rem;
      }
    

    
      @media (min-aspect-ratio: 16/10) {
        main {
          flex-wrap: nowrap;
          height:50vh; 
        }
    
        div.comic {
          flex-basis: 33%;
          padding:10px;
        }
      }
      @media (max-aspect-ratio: 16/10) {
        table {
          height: 80%;                
          width: 100%;
          border-collapse: collapse;
        }
        body,h2,h3,h4,h5,p,a,.content{
          font-size:xx-large;
        }
        h1{
          font-size: 150%;
        }
        .row {
          height: 90%;
          width: 100%;
          align-items: center;
          align-content: center;
          margin-left: auto;
          margin-right: auto;    
        }

        main {
          align-items: center;
          align-content: center;
          margin-left:30%;
        }
        
        th, td {
          padding: 5px;
        }
        img {
          width: 50%;
          height: 50%;
        }
      }
  


