 body {
	margin:0;
    background-color: white;
    color: #222222;
    font-family: Helvetica;
    font-weight:lighter;
	text-align: center;
} 

a {
    color: darkgrey;
    text-decoration:none;
}

a:hover {
    color: black;
    transition: 1s;
}

a:visited {
    color: darkgrey;
    text-decoration:none;
}


table.header {
    width:100%;
    margin-right:0px;
    margin-left:auto;
}

table.center {
    width: 80%;
    padding-left:50px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
    /*display:flex;*/
	height:80vh;
    align-items:center;
}

table.footer {
    width:100%;
    margin-bottom: 0px;
    padding-left:20px;
    text-align:left;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: lighter;
}